.main-container {
    height: 100vh;
    // width: 100%;
    // display: flex;
    // margin: 0px 100px;
    // flex: 1;

    #container {
        //     // border: 3px solid red;
        height: 100%;
        //     width: 100%;
        overflow: auto !important;
    }
}


// .highcharts-container {
//     // border: 3px solid yellow;
//     overflow: auto !important;
// }

html,
body {
    height: 100%;
    width: 100%;
    border: 2px solid red;
    margin: 0px;
}

// .main {
//     // height: 100vh;
//     // width: 100vh;
//     margin: 0px;
//     padding: 0px;
//     border: 2px solid yellowgreen;
//     overflow: hidden !important;
// }

#container>.highcharts-container {
    border: 2px solid yellowgreen;
    overflow: auto !important;
}

#highcharts-zj2445q-0 {
    border: 2px solid yellowgreen;
    overflow: auto !important;
}